#banner
	.banner_content
		%h1 Note
		%p Your online notebook
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote WRITE & ORGANIZE
		
#callouts
	.callout_inner
		.wrapper
			.callout
				

			.callout
				%h2 Notes
				%p Note-taking is an incredibly personal, profound, and individual skill. It’s been practiced almost as long as we’ve been able to verbally communicate, from pigment daubed on cave walls through clay and papyrus, ink and printing press, and now in digital form.

			
#bottom_cta
	.wrapper
		%button= link_to "Sign Up", new_user_registration_path

%footer